<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet - Mini Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <h1 class = "titre">Projet - Mini Blog</h1>

    <input type ="button" value="Créer un nouvel article" onclick="window.location.href='{% url 'create_form' %}'" />
    {% for post in posts %} <!-- boucle sur les posts comme for i in post.length-->

        <div class="post">
            <h2 class = "titre">{{ post.title }}</h2>
            <p class = "contenu">{{ post.content }}</p>
            <p>Le : {{ post.created_at }}</p>
        </div>

    {% empty %} <!-- si vide alors no article-->
        <p>Aucun article disponible.</p>
    {% endfor %}
</body>
</html>
